.content{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Calibri;
}
.row{
  margin-right: 0px;
  margin-left: 0px;
}
.col-xs-12,.col-md-12,.col-sm-12{
  padding-right: 0px;
  padding-left: 0px;
}
.content_head{
  height: 8%;
  border-radius: 5px;
  background-color: #337ab7;
}
.content_body{
  height: 81%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}
.content_foot{
  margin-top: 10px;
  height: 9%;
  border-radius: 5px;
  text-align: center;
  background-color: #c3d6e8;
}

.content_head img{
  width: 80%;
  height: 100%;
  /*border: solid 1px blue;*/
  align-self: center;
}
.head_div{
  height: 100%;
}
.head_title{
  font-size: 1.9rem;
  text-align: center;
  margin: 0 auto 0 -10%;
  line-height: 5.7rem;
}

.foot_info{
  font-size: 1.5rem;
  text-align: center;
  line-height: 3.6rem;
}

