.content{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Calibri;
}
.content_head{
  height: 8%;
  margin-right: 0px;
  /*border: solid 1px salmon;*/
  background-color: #f0f0f0;
}
.content_body{
  height: 83%;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}
.content_foot{
  margin-top: 10px;
  height: 6%;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 5px;
  background-color: #fff;
}

.content_head img{
  width: 80%;
  height: 100%;
  /*border: solid 1px blue;*/
  align-self: center;
}
.head_div{
  height: 100%;
}
.head_title{
  font-size: 1.9rem;
  text-align: center;
  margin: 0 auto 0 -10%;
  line-height: 5.7rem;
}

.foot_info{
  font-size: 1.5rem;
  text-align: center;
  line-height: 3.6rem;
}

